<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin page</title>


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
            integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
            crossorigin="anonymous"></script>

</head>
<body>


<div th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml">

    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar bg-primary" data-bs-theme="dark">


        <div class="container-fluid">
            <a class="navbar-brand" href="/index">MyCars</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/index">Home</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Categories
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">1:16 scale</a></li>
                            <li><a class="dropdown-item" href="#">1:20 scale</a></li>
                            <li><a class="dropdown-item" href="#">1:34 scale</a></li>
                            <li><a class="dropdown-item" href="#">1:64 scale</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">All Cars</a></li>
                        </ul>
                    </li>

                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/login"><span
                                th:text="${loggedInUser.userName}">Admin</span> </a>
                        <h3 style="color: green;">Welcome admin!</h3>

                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/register">Register</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

</div>


<div class="container-fluid">

    <div class="container admin">

        <!--first row-->
        <div class="row mt-3">


            <!--first col-->
            <div class="col-md-4">
                <!--first box-->
                <div class="card">
                    <div class="card-body text-center">

                        <div class="container">
                            <img style="max-with: 125px;" class="img-fluid rounded-circle" src="images/team.png"
                                 alt="user_icon">

                        </div>

                        <h1>2342</h1>
                        <h1 class="text-uppercase text-muted">Users</h1>
                    </div>
                </div>
            </div>


            <!--first col-->
            <div class="col-md-4">
                <!--second box-->
                <div class="card">
                    <a href="/categories/showAllCategories">
                        <div class="card-body text-center">

                            <div class="container">
                                <img style="max-with: 125px;" class="img-fluid rounded-circle" src="images/list.png"
                                     alt="user_icon">

                            </div>

                            <h1>2342</h1>
                            <h1 class="text-uppercase text-muted">Categories</h1>
                        </div>
                    </a>
                </div>
            </div>


            <!--first col-->
            <div class="col-md-4">
                <!--third box-->
                <div class="card">
                    <div class="card-body text-center">

                        <div class="container">
                            <img style="max-with: 125px;" class="img-fluid rounded-circle" src="images/product.png"
                                 alt="user_icon">

                        </div>

                        <h1>2342</h1>
                        <h1 class="text-uppercase text-muted">Products</h1>
                    </div>
                </div>
            </div>


            <!--second row-->

            <div class="row mt-3">

                <!--second row first col-->
                <div class="col-md-6">
                    <div class="card" data-bs-toggle="modal" data-bs-target="#add-category-modal">
                        <div class="card-body text-center">

                            <div class="container">
                                <img style="max-width: 125px" class="img-fluid rounded-circle" src="images/add.png"
                                     alt="user_icon">

                            </div>

                            <p class="mt-2">Click here to add new category</p>
                            <h1 class="text-uppercase text-muted">Add Category</h1>
                        </div>
                    </div>
                </div>

                <!--second row second col-->
                <div class="col-md-6">
                    <div class="card" data-bs-toggle="modal" data-bs-target="#add-product-modal">
                        <div class="card-body text-center">

                            <div class="container">
                                <img style="max-width: 125px" class="img-fluid rounded-circle" src="images/add.png"
                                     alt="user_icon">

                            </div>

                            <p class="mt-2">Click here to add new product</p>
                            <h1 class="text-uppercase text-muted">Add Product</h1>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>

    <h1 style="color: green;">This is admin page</h1>
    <h1 style="color: green;">Welcome, <span th:text="${loggedInUser.userName}">Admin</span>!</h1>

    <p>Welcome, <span th:text="${loggedInUser.userName}"></span>!</p>
    <p>Your ID is: <span th:text="${loggedInUser.userId}"></span></p>
    <p>Your Email is: <span th:text="${loggedInUser.userEmail}"></span></p>
    <p>Your Phone is: <span th:text="${loggedInUser.userPhone}"></span></p>
    <p>Your Address is: <span th:text="${loggedInUser.userAddress}"></span></p>
    <p>Your Photo: <span th:text="${loggedInUser.userPic}"></span></p>
    <p>Your Type: <span th:text="${loggedInUser.userType}"></span></p>
</div>

<!--add category modal-->

<!-- Modal add Category -->


<div class="modal fade" id="add-category-modal" tabindex="-1" role="dialog" aria-labelledby="saveCategoryModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header custom-bg text-white">
                <h5 class="modal-title fs-5" id="saveCategoryModalLabel">Fill Category details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


                <form th:action="@{/categories/saveCategory}" method="post">
                    <div class="mb-3">
                        <div class="mb-3">
                            <label for="category_title" class="form-label">Category Title</label>
                            <input type="text" class="form-control" id="category_title" name="categoryTitle" required>
                        </div>

                        <div class="mb-3">
                            <label for="category_description" class="form-label">Category Description</label>
                            <textarea class="form-control" id="category_description" name="categoryDescription"
                                      required></textarea>
                        </div>

                        <div class="container text-center">
                            <button class="btn btn-outline-success">Add Category</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!--End add category modal-->


<!--product modal-->


<!-- Button trigger modal -->


<!-- Modal -->


<!--Add Product Modal -->
<div class="modal fade" id="add-product-modal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header custom-bg text-white">
                <h5 class="modal-title fs-5" id="addProductModalLabel">Add new Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Product form -->
            <form th:action="@{/products/addProduct}" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="p_name" class="form-label">Product Name</label>
                        <input type="text" class="form-control" id="p_name" name="pName" required>
                    </div>
                    <div class="mb-3">
                        <label for="p_desc" class="form-label">Product Description</label>
                        <textarea class="form-control" id="p_desc" name="pDesc" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="p_price" class="form-label">Product Price</label>
                        <input type="number" class="form-control" id="p_price" name="pPrice" required>
                    </div>
                    <div class="mb-3">
                        <label for="p_discount" class="form-label">Product Discount</label>
                        <input type="number" class="form-control" id="p_discount" name="pDiscount" required>
                    </div>
                    <div class="mb-3">
                        <label for="p_quantity" class="form-label">Product Quantity</label>
                        <input type="number" class="form-control" id="p_quantity" name="pQuantity" required>
                    </div>
                    <div class="mb-3">
                        <label for="p_photo" class="form-label">Product Photo</label>
                        <input type="file" class="form-control" id="p_photo" name="file" required>
                    </div>
                    <!-- Multi-select dropdown for selecting categories -->
                    <div class="mb-3">
                        <label for="categoryIds" class="form-label">Categories</label>
                        <select name="categoryIds" id="categoryIds" class="form-select" multiple>
                            <!-- Iterate over each category and display it as an option -->
                            <option th:each="category : ${categories}" th:value="${category.categoryId}">
                                <!-- Display category title or ID -->
                                <span th:text="${category.categoryTitle}"></span>
                                <li th:each="category : ${categories}" class="list-group-item" th:text="${category.categoryTitle}"></li>
                            </option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Product</button>
                </div>
            </form>
        </div>
    </div>
</div>



<!--End add product modal-->


</body>
</html>